*{
    margin: 0;
    padding: 0;
}
.container{
    height: 700px;
    width: 100%;
    background-color: lightblue;
}
h1{
  margin-left: 45%;
  font-size: 60px;
  color: rgb(17, 82, 82);
}
.blog1{
    height: 400px;
    width: 350px;
    border: 1px solid black;
    float: left;
    background-image: url(img/lion.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 90px;
    margin-top: 120px;
    background-color: rgb(172, 233, 253);

}
.blog2{
    height: 400px;
    width: 350px;
    border: 1px solid black;
    float: left;
    background-image: url(img/tiger.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 150px;
    margin-top: 120px;
    background-color: rgb(172, 233, 253);
    
}
.blog3{
    height: 400px;
    width: 350px;
    border: 1px solid black;
    float: left;
    background-image: url(img/pea.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 150px;
    margin-top: 120px;
    background-color: rgb(172, 233, 253);
}
H2{
    margin-top: 220px;
    font-size: 30px;
  text-align: center;
    
}
h4{
    padding-left:20px;
    padding-right: 20px;
    margin-top: 10px;
   
}